<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>
  <!--<img alt='Welcome' width='600' height='350' src="<%=asset_path 'Rails.png'%>"/>-->
  <% unless logged_in? %>
      <%= link_to 'Log in', login_path, class: 'btn btn-primary btn-xlarge' %>
      <h5><i>or</i></h5>
      <%= link_to 'Sign up Now', signup_path, class: 'btn btn-primary btn-xlarge' %>
  <% end %>
</div>
