$navbar-default-bg: blanchedalmond;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: Georgia, sans-serif;
  line-height: 2rem;
  font-size: 1.3rem;
  background-color: white;
  //background-color: blanchedalmond;
  //margin: 0;
  //padding: 0;
  //color: #000;
  //text-align: center;
}

//h1 {
//  font-weight: normal;
//  line-height: 2.8rem;
//  font-size: 2.5rem;
//  letter-spacing: -1px;
//  color: black;
//}

//p { font-family: monospace; }

.container {
  width: 960px;
  margin: 0 auto 40px;
  overflow: hidden;
}

//section {
//  margin: 0 auto 2rem;
//  padding: 1rem 0 0;
//  width: 700px;
//  text-align: center;
//}

#brand {
  float: left;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: -1;
  font-weight: bold;
  color: sienna;
}

#nav-link {
  font-size: 1.3em;
  color: sienna;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('Rails.png');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: sienna;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-xlarge {
  font-size: 1.7em;
  font-family: Damascus;
  line-height: normal;
  margin-top: 250px;
  font-weight: bold;
}

.show {
  font-size: 1.2em;
  min-height: 120px;
}

.show-actions {
  float: right;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 10px;
}

.article-body {
  padding-top: 10px;
}

.show_signature {
  line-height: 1.5;
  font-style: italic;
  color: #777;
  float: right;
}

.article-actions {
  padding-top: 5px;
  float: left;
}

.border {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #eaeaea;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  color: #777;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
