<h2 class='col-xs-offset-2'><%= @category.name %></h2>
<!--<div class='center'><%= will_paginate @category_articles %></div>-->
<%= render 'articles/list', obj: @category_articles %>
<!--<div class='center'><%= will_paginate @category_articles %></div>-->
