<div class='container'>
  <footer class='footer border'>
    <nav>
      <ul>
        <li><%= link_to 'About Page', about_path %></li>
      </ul>
    </nav>
    <div class='float-left'>
      <small>Copyright &copy; <a href='https://igorstar.com' igorstar>IgorStar</a></small>
    </div>
  </footer>
</div>
