<div class='container'>
  <footer class='footer'>
    <nav>
      <ul>
        <li><%= link_to 'About Page', about_path %></li>
      </ul>
    </nav>
    <small>
      Copyright &copy; <a href='www.igorstar.com' igorstar>IgorStar</a>
    </small>
  </footer>
</div>
